# User-specific files and folders
*.suo
*.user
*.sln.docstates
.vs/
.idea

# Build results
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.obj
*.pdb
*.tmp
*.log
